# Deployment para MySQL
apiVersion: apps/v1 # Para versiones anteriores a 1.9.0, usar apps/v1beta2
kind: Deployment
metadata:
  name: mysql  # Nombre del Deployment
  labels:
    app: wordpress  # Etiqueta de aplicación para WordPress
spec:
  selector:
    matchLabels:
      app: wordpress  # Selector para emparejar pods
      tier: mysql
  strategy:
    type: Recreate  # Estrategia de despliegue para reemplazar todos los pods
  template:
    metadata:
      labels:
        app: wordpress
        tier: mysql
    spec:
      containers:
      - image: mysql:5.6  # Imagen de MySQL
        imagePullPolicy: Never  # Política para evitar pull de la imagen
        name: mysql  # Nombre del contenedor
        env:  # Variables de entorno para la configuración de MySQL
        - name: MYSQL_ROOT_PASSWORD
          value: password  # Contraseña del usuario root de MySQL
        ports:
        - containerPort: 3306  # Puerto en el contenedor
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage  # Montaje del volumen
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage  # Volumen persistente
        persistentVolumeClaim:
          claimName: pvc-mysql  # Referencia al PVC
---
# Service para MySQL
apiVersion: v1
kind: Service
metadata:
  name: mysql  # Nombre del Service
  labels:
    app: wordpress  # Etiqueta de aplicación para WordPress
spec:
  ports:
    - port: 3306  # Puerto de servicio expuesto para MySQL
  selector:
    app: wordpress  # Selector para encontrar los pods de MySQL
    tier: mysql
  clusterIP: None  # IP de clúster fija para garantizar el acceso directo
